:root {
    --nav-width: 300px;
    --hamburger-button-size: 40px;
    --logo-margin-top: 10px;
}

* {
    margin: 0;
    opacity: 0.9;
}

#nav_bar {
    width: var(--nav-width);
    background-color: rgb(194, 208, 220);
}

#logo_container {
    position: fixed;
    top: var(--logo-margin-top);
    left: var(--logo-margin-top);
}

#admin_container {
    display:none
}

#category_container ul {
    list-style:none;
}

#category_container > ul, #category_container > ul > li > ul {
    padding-left: 0;
}

#category_container > ul > li > a {
    display: block;
    background-color: red;
    color: white;
}

/* 카테고리 접는 것에 관한 스타일일 */
/* 접힌채로 시작 */
.sub_category_list {
	display: none;
}
/* 화살표 회전 */
.ac-category.expanded .ac-toggle i {
	transform: rotate(0.5turn);
}
/* 화살표 회전 시간 */
.ac-toggle i {
	transition: .1s
}
/* 화살표가 우측에 있다는 내용 */
.ac-category .ac-toggle i {
  float: right;
  padding: 4px;
  /* pointer-events: none; */
}

#hamburger_button {
    width: var(--hamburger-button-size);
    height: var(--hamburger-button-size);
    border-radius: calc(var(--hamburger-button-size) / 2);
    background-color: brown;
    display: flex;
    align-items: center;
}

#hamburger_button_line_container {
    margin-top: -3px;
    width:100%;
}

.hamburger_button_line {
    background-color: rgb(64, 195, 195);
    width: 50%;
    height: 2px;
    border-radius: 1px;
    margin: 5px auto;
}

@media (min-width: 1000px) {
    #main {
        width: calc(100vw - var(--nav-width))
    }
}
@media (max-width: 1000px) {
    #nav_bar {
        display: none;
        position: absolute;
    }
    #logo {
        display: none;
    }
    #main {
        width: 100vw;
    }
}