@font-face {
    font-family: 'MBC';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


#DragSchLayer {
    display: none !important;
}

.text_center{
    text-align: center;
}

:root {
    --nav-width: 300px;
    --hamburger-button-size: 40px;
    --logo-margin-top: 10px;
    --nav-inside-start: 4;
    --main-logo-width: 120px;
}

html {
    width: 100%;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.nav_bar {
    position: fixed;
    left: calc(var(--nav-width) * -1);
    top: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: var(--nav-width);
    background: rgb(236, 236, 236);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    overflow: auto;
    transition: all 0.1s;
}

#nav_bar_inside_region {
    margin-top: calc(var(--hamburger-button-size) + var(--nav-inside-start) * var(--logo-margin-top));
    padding-bottom: 50px;
    width: inherit;
    height: calc(100% - (var(--hamburger-button-size) + var(--nav-inside-start) * var(--logo-margin-top)));
    position: fixed;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#nav_bar_inside_region::-webkit-scrollbar {
    display: none;
}

#nav_bar_inside {
    /* width: calc(var(--nav-width) / 10 * 8); */
    width: var(--nav-width);
    margin: 0 auto;
}

#nav_bar_inside > * {
    width: 100%;
}

.nav_content {
    width: 80%;
    margin: 0 auto;
}

.hr_div {
    width: 100%;
    height: 5px;
    background: rgb(255, 255, 255);
    
    margin: 50px 0;
}

.blog_menu_button_container {
    width: 40px;
    text-align: center;
    cursor: pointer;
}

.blog_menu_button_container > img {
    width: 25px;
    height: 25px;
}

.blog_menu_button_container > div {
    font-size: 10px;
}

#logo_container {
    position: fixed;
    top: var(--logo-margin-top);
    left: var(--logo-margin-top);
}

#page_title_container {
    transition: width 0.1s;
}

#admin_container {
    display:none
}

#category_container ul {
    list-style:none;
}

.tt_category {
    padding-left: 0;
}

.tt_category ul {
    padding-left: 20px;
}

.tt_category > li > ul {
    padding-left: 0;
    margin-top: 10px;
}

.tt_category .c_cnt {
    font-size: small;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    padding: 3px 10px;
    border-radius: 100px;
    margin-left: 5px;
}

.tt_category a {
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    color: rgba(0, 0, 0, 0.8);
}


.tt_category a:hover {
    color: rgb(31, 249, 133);
}

.tt_category > li > a {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    text-align: center;
}

.tt_category > li > ul > li {
    margin-top: 20px;
}

/*
#category_container ul {
    list-style:none;
}

#category_container > ul, #category_container > ul > li > ul {
    padding-left: 0;
}

 #category_container > ul > li > a {
    display: block;
    background-color: red;
    color: white;
} 

카테고리 접는 것에 관한 스타일일
접힌채로 시작
.sub_category_list {
	display: none;
}
화살표 회전
.ac-category.expanded .ac-toggle i {
	transform: rotate(0.5turn);
}
화살표 회전 시간
.ac-toggle i {
	transition: .1s
}
화살표가 우측에 있다는 내용
.ac-category .ac-toggle i {
  float: right;
  padding: 4px;
  pointer-events: none;
}
*/

#hamburger_button {
    width: var(--hamburger-button-size);
    height: var(--hamburger-button-size);
    border-radius: calc(var(--hamburger-button-size) / 2);
    display: flex;
    align-items: center;
    transition: background-color 0.1s;
}

@media (hover: hover) {
    #hamburger_button:hover {
        background-color: rgb(0,0,0,0.1);
    }
    #search_icon_container:hover {
        background-color: rgb(0,0,0,0.1);
    }
}

#hamburger_button:active {
    background-color: rgb(0,0,0,0.2);
}

#hamburger_button_line_container {
    width:100%;
}

.hamburger_button_line {
    background-color: rgb(81, 81, 81);
    width: 50%;
    height: 2px;
    border-radius: 1px;
    margin: calc(var(--hamburger-button-size) / 8) auto;
}

#search_icon_container {
    width: var(--hamburger-button-size);
    height: var(--hamburger-button-size);
    position: fixed;
    top: var(--logo-margin-top);
    right: var(--logo-margin-top);
    border-radius: calc(var(--hamburger-button-size) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s;
}

#search_icon_container:active {
    background-color: rgb(0,0,0,0.2);
}

#main header_bar {
    position: fixed;
    left: inherit;
    top: calc(-1*(var(--hamburger-button-size) + 2 * var(--logo-margin-top)));
    background: rgba(255,255,255,0.8);
    /* backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); */
    /* transform: translateY(calc(-1*(var(--hamburger-button-size) + 2 * var(--logo-margin-top)))); */
    height: calc(var(--hamburger-button-size) + 2 * var(--logo-margin-top));
    width: inherit;
    transition: top 0.1s;

    display: flex;
    align-items: center;
}

@keyframes marquee-animation {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(var(--text-size));
    }
}

#main {
    position: relative;
    top: 0;
    transition: left 0.1s;
}

#main_inside {
    width: 100%;
    padding: 0 30px;
    max-width: 900px;
    margin: 0 auto;
}

textarea {
    width: 100%;
}

#logo {
    border: dashed;
    height: var(--hamburger-button-size);
    width: var(--main-logo-width);
    margin-left: var(--logo-margin-top);
}

#logo:hover {
    cursor: pointer;
}

#logo div {
    text-align: center;
    font-family: 'MBC';
    font-size: calc(var(--hamburger-button-size) * 0.8);
    line-height: var(--hamburger-button-size);
}
